*{
  text-size-adjust: none;
  font-size: 14px;
  font-family: Roboto;
  line-height: 22px;
}
html{
box-sizing: border-box;
background-color:white;
}
a{
  color: inherit;
  text-decoration:none;
}
h1 {
  font-size: 1rem;
}
p {
  color:inherit;
}
	
body {
	margin-top:0; 
	margin-bottom:0;
  margin-left:calc(100%/6);
  margin-right: calc(100%/6);
  padding:0 15px 0 15px;
  box-sizing: border-box;
  background-color: #C0DBD9;
  width: calc(100%-640px);
  gap: 25px;
}

header{
  width:100%;
  height: 100px;
  background-color:#7FAFF6 
}
.popup-button{
	display:inline-block;
	margin: 30.5px 0 30.5px 30px;
	width:206px;
	padding:8px 15px 8px 15px;
	font-size: 20px;
	line-height:23px;
	background-color:#A5C7F9;
	color:white;
	border:none;
	border-radius:5px;
	cursor:pointer;
}
.overlay{
	position:fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	visibility:hidden;
}
.overlay:target{
  visibility: visible;
}
.popup{
	position:relative;
	height:400px;
	width:400px;
	background-color:white;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:53px;	
}
.popup>p{
font-size:53px;
}
.close{
	position:absolute;
	top:15px;
	right:15px;
	color:white;
	border-radius:5px;	
	background-color:#7FAFF6;
	font-size:20px;
	padding:8px 15px 8px 15px;
}
.block1{
	margin-top:15px;
	display:grid;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: minmax(160px, auto);
	background-color:#B3F95A;
	grid-gap:15px;
	height:411px;
}
.block1__frame1{
	display: flex;
    justify-content: center;
    align-items: center;
	grid-column: 1/3;
	grid-row: 1;
	background-color:#8AD191;
}
.block1__frame1::before{
	content:'1';
	font-size:53px;
	color:white;
	font-style: normal;
	font-weight: normal;
	font-size: 53px;
	line-height: 62px;

}
	
.block1__frame2{
	display: flex;
    justify-content: center;
    align-items: center;	
	content:'1';
    grid-column: 3/6;
    grid-row: 1;
    background-color:#8AD191;
}
.block1__frame2::before{
	content:'2';
	font-size:53px;
	color:white;
	
}
.block1__frame3{
	display: flex;
    justify-content: center;
    align-items: center;
	justify-content:center;
    grid-column: 6;
    grid-row: 1;
    background-color:#8AD191;
}
.block1__frame3::before{
	content:'3';
	font-size:53px;
	color:white;
}
.block1__frame4{
	display: flex;
    justify-content: center;
    align-items: center;
	grid-column: 1/6;
	grid-row: 2;
	background-color:#8AD191;
}
.block1__frame4::before{
	content:'4';
	font-size:53px;
	color:white;
}
.block1__frame5{
	display: flex;
    justify-content: center;
    align-items: center;
	grid-column: 6;
	grid-row: 2;
	background-color:#8AD191;
}
.block1__frame5::before{
	content:'5';
	font-size:53px;
	color:white;
}
.block2{
	display:grid;
	grid-gap:30px;
	grid-template-columns: repeat(4, 1fr);
	height:259px;
	background-color:#88B5BF;
	margin-top:15px;
	padding:30px;
}
.block2__frame{
	background-color:#0D89B0;
}
footer{
	margin-top:100px;
	height:100px;
	background-color:#7FAFF6;
}
